@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;700&display=swap');


body {
	font-family: 'Ubuntu', arial, sans-serif;
    font-size: 16px;
	background: #fff url("https://cdn.connox.fr/m/100027/167966/media/Raeume/Wohnzimmer/Radio-Audio.jpg") no-repeat center fixed;
	background-size: cover;
	margin: 0;
}

main {
	display: block;
	max-width: calc(100% - 40px);
	width: 1160px;
	min-height: 100vh;
	background-color: #fff;
	-webkit-box-shadow: 0px 11px 35px 2px rgba(0, 0, 0, 0.2);
	box-shadow: 0px 11px 35px 2px rgba(0, 0, 0, 0.2);
	margin: 0 auto;
	overflow: auto;
}

section {
    display: block;
    margin: 40px;
}

.live-box{
    display: inline-block;
    vertical-align: top;
    width: 260px;
    border-radius: 6px;
    -webkit-box-shadow: 0 1px 4px rgba(186, 186, 186, 0.5);
    box-shadow: 0 1px 4px rgba(186, 186, 186, 0.5);
    margin: 10px;
    overflow: hidden;
}

.live-box .top{
    position: relative;
    display: block;
    width: 100%;
    background: #3cb5ac url("https://cdn.connox.fr/m/100027/167966/media/Raeume/Wohnzimmer/Radio-Audio.jpg") no-repeat center;
    background-size: cover;
}
.live-box .top-bg {
    display: block;
    background-color: rgba(0,0,0,0.1);
    border-radius: 5px 5px 0 0;
    padding: 30px 26px;
}
.live-box .top a.radio-titre{
    display: inline-block;
    font-size: 16px;
    color: #52c4b6;
    font-weight: bold;
    text-decoration: none;
    -webkit-box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.4);
    box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.4);
    background-color: #fff;
    border-radius: 4px;
    margin: 0;
    padding: 2px 4px;
}
.live-box .top a.radio-titre:hover{
    color: #00ac97;
}
.live-box .top p.titre{
    display: block;
    font-size: 36px;
    color: #fff;
    font-weight: bold;
    margin: 0;
    text-shadow: 0px 1px 10px rgb(0, 0, 0);
    margin: 0;
}

.live-box .btn-div{
    position: absolute;
    bottom: -25px;
    right: 26px;
    display: block;
    width: 50px;
    height: 50px;
}

.btn-play {
    position: absolute;
    top: 0;
    left: 0;
    display: inline-block;
    width: 100%;
    height: 100%;
    cursor: pointer;
    font-family: 'Ubuntu', sans-serif;
    font-size: 13px;
    color: #fff;
    background-color: #52c4b6;
    border: 0;
    border-radius: 50%;
    -webkit-box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.2);
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.2);
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0;
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
    z-index: 30;
}
.btn-div:hover .btn-play {
	-webkit-box-shadow: 0px 1px 6px rgba(0, 0, 0, 0.3);
	box-shadow: 0px 1px 6px rgba(0, 0, 0, 0.3);
	-webkit-transform: scale(1.05);
	transform: scale(1.05);
}
.btn-play:active{
    -webkit-transform: scale(0.95);
    transform: scale(0.95);
}
.btn-play .img-play{
    position: absolute;
    top: 15px;
    left: 16px;
    display: block;
    width: 20px;
    height: 20px;
    opacity: 0;
}
.btn-play .img-pause{
    position: absolute;
    top: 15px;
    left: 15px;
    display: block;
    width: 20px;
    height: 20px;
    opacity: 0;
}
.btn-play img.show{
    opacity: 1;
}

.btn-reload {
    position: absolute;
    top: 0;
    left: 0;
    display: inline-block;
    width: 100%;
    height: 100%;
    cursor: pointer;
    font-family: 'Ubuntu', sans-serif;
    font-size: 13px;
    color: #000;
    background-color: #fff;
    border: 0;
    border-radius: 25px;
    -webkit-box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.2);
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.2);
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0;
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
    z-index: 20;
}
.btn-div:hover .btn-reload{
    height: 200%;
}
.btn-reload:hover {
	-webkit-box-shadow: 0px 1px 6px rgba(0, 0, 0, 0.3);
	box-shadow: 0px 1px 6px rgba(0, 0, 0, 0.3);
	-webkit-transform: scale(1.05);
	transform: scale(1.05);
}
.btn-reload:active{
    -webkit-transform: scale(0.95);
    transform: scale(0.95);
}


.tag-div{
    position: absolute;
    bottom: -8px;
    left: 25px;
    display: block;
    width: 150px;
}
.tag-div .tag{
    font-size: 11px;
    color: #555;
    font-weight: 500;
    text-transform: uppercase;
    background-color: #fff;
    border-radius: 8px;
    -webkit-box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.3);
    margin: 0 6px 0 0;
    padding: 2px 8px;
}



.live-box .bottom {
    display: block;
    width: 100%;
}

.slider-div{
    display: block;
    height: 0;
    margin: 0 20px 10px 20px;
    padding: 0 6px;
    overflow: hidden;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
.slider-div.show{
    height: 28px;
    margin: 26px 20px 0 20px;
    padding: 0 6px;
}

.slider-icon {
    display: inline-block;
    vertical-align: middle;
    width: 20px;
    height: 20px;
    opacity: 0.3;
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
    margin: 0 10px 0 0;
}

.slider{
    display: inline-block;
    vertical-align: middle;
    width: 170px;
    height: 26px;
    background: #fff;
    outline: none;
    opacity: 0.7;
    border-radius: 4px;
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

/* Chrome */
.slider::-webkit-slider-thumb {
    cursor: pointer;
    width: 22px;
    height: 12px;
    background: #fff;
    border: 0;
    border-radius: 8px;
    -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.3);
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
}
.slider::-webkit-slider-runnable-track {
    height: 6px;
    background-color: #d3d3d3;
    border-radius: 8px;
}
.slider::-webkit-progress-value {
    height: 6px;
    background-color: #52c4b6;
    border-radius: 8px;
}

/* Firefox */
.slider::-moz-range-thumb {
    cursor: pointer;
    width: 22px;
    height: 12px;
    background: #fff;
    border: 0;
    border-radius: 8px;
    -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.3);
    -moz-appearance: none;
    appearance: none;
}
.slider::-moz-range-track {
    height: 6px;
    background-color: #d3d3d3;
    border-radius: 8px;
}
.slider::-moz-range-progress {
    height: 6px;
    background-color: #52c4b6;
    border-radius: 8px;
}

/* IE */
.slider::-ms-thumb {
    cursor: pointer;
    width: 22px;
    height: 12px;
    background: #fff;
    border: 0;
    border-radius: 8px;
    -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.3);
    -moz-appearance: none;
    appearance: none;
}
.slider::-ms-fill-lower {
    height: 6px;
    background-color: #d3d3d3;
    border-radius: 8px; 
}
.slider::-ms-fill-upper {
    height: 6px;
    background-color: #52c4b6;
    border-radius: 8px;
}


.live-box .bottom p.desc{
    margin: 0;
    padding: 20px 26px 26px 26px;
}

.separate-device {
    width: 60px;
    border: 0;
    border-top: solid 1px #ccc;
    margin: 0 auto;
    padding: 0;
}

.other-device {
    font-size: 13px;
    color: #ccc;
    text-align: center;
    margin: 0;
    padding: 16px 26px 20px 26px;
}